<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/generalLoggenIn.xhtml">

	<ui:define name="title">
		<h:outputText value="My Account Home" />
	</ui:define>
	<ui:define name="header">
		<h:outputText value="My Account Home" />
	</ui:define>

	<ui:define name="content">
		<f:metadata>
			<f:event type="postAddToView" listener="#{uiUtils.greetOnViewLoad}"
				update="growlMessages" />
			<f:attribute name="firstName" value="#{user.firstName}" />
			<f:attribute name="lastName" value="#{user.lastName}" />
		</f:metadata>
	 
		<h1>Account for #{user.firstName} #{user.lastName}</h1>
		<h:form id="form">
			<p:growl id="messages" showDetail="true" />
			
			  <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">  
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />  
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>       
    </p:confirmDialog>  
			
			
			<p:dataTable id="dataTable" var="rowUser" value="#{users}"
				widgetVar="usersTable" emptyMessage="No users found"
				filteredValue="#{usertablebean.filteredUsres}" editable="true" selection="#{usertablebean.selectedUsers}" 
				rowKey="#{rowUser.id}" >
				<f:facet name="header">
					<p:outputPanel>
						<h:outputText value="Search all fields:" />
						<p:inputText id="globalFilter" onkeyup="usersTable.filter()"
							style="width:150px" />
					</p:outputPanel>
				</f:facet>

				<p:ajax event="rowEdit" listener="#{usertablebean.onEdit}"
					update=":form:messages" />
				<p:ajax event="rowEditCancel" listener="#{usertablebean.onCancel}"
					update=":form:messages" />
				<p:column selectionMode="multiple" style="width:2%" />   

				<p:column filterBy="#{rowUser.firstName}" headerText="first name"
					filterMatchMode="contains">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{rowUser.firstName}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText value="#{rowUser.firstName}" style="width:100%" />
						</f:facet>
					</p:cellEditor>
				</p:column>

				<p:column filterBy="#{rowUser.lastName}" headerText="last name"
					filterMatchMode="contains">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{rowUser.lastName}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText value="#{rowUser.lastName}" style="width:100%"
								label="Year" />
						</f:facet>
					</p:cellEditor>
				</p:column>
				<p:column style="width:6%">
					<p:rowEditor />
				</p:column>
				
				 <f:facet name="footer">  
     
 <p:commandButton value="Delete" actionListener="#{usertablebean.print}">  
        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert"/>  
    </p:commandButton>  
  
        </f:facet>  
			</p:dataTable>
			
	
			
		</h:form>
	</ui:define>

</ui:composition>
