<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/generalLoggenIn.xhtml">

	<ui:define name="title">
		<h:outputText value="My Account Home" />
	</ui:define>
	<ui:define name="header">
		<h:outputText value="My Account Home" />
	</ui:define>

	<ui:define name="content">
		<f:metadata>
			<f:event type="postAddToView" listener="#{uiUtils.greetOnViewLoad}"
				update="growlMessages" />
			<f:attribute name="firstName" value="#{user.firstName}" />
			<f:attribute name="lastName" value="#{user.lastName}" />
		</f:metadata>

		<p:commandButton id="testCreation" action="testCreation"
			immediate="true" icon="ui-icon-plus" value="Create Test" />
		<h:form id="form">
			<p:growl id="messages" showDetail="true" />

			<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>


			<p:dataTable id="dataTable" var="rowTest" value="#{tests}"
				widgetVar="testsTable" emptyMessage="No tests found"
				filteredValue="#{testService.filteredTests}" editable="true"
				selection="#{testService.selectedTests}" rowKey="#{rowTest.id}">
				<f:facet name="header">
					<p:outputPanel>
						<h:outputText value="Search all fields:" />
						<p:inputText id="globalFilter" onkeyup="testService.filter()"
							style="width:150px" />
					</p:outputPanel>
				</f:facet>

				<p:ajax event="rowEdit" listener="#{testService.onEdit}"
					update=":form:messages" />
				<p:ajax event="rowEditCancel" listener="#{testService.onCancel}"
					update=":form:messages" />
				<p:column selectionMode="multiple" style="width:2%" />

				<p:column filterBy="#{rowTest.name}" headerText="first name"
					filterMatchMode="contains">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{rowTest.name}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText value="#{rowTest.name}" style="width:100%" />
						</f:facet>
					</p:cellEditor>
				</p:column>

				<p:column filterBy="#{rowTest.maxPoints}" headerText="last name"
					filterMatchMode="contains">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{rowTest.maxPoints}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText value="#{rowTest.maxPoints}" style="width:100%"
								label="Year" />
						</f:facet>
					</p:cellEditor>
				</p:column>
				<p:column style="width:6%">
					<p:rowEditor />
				</p:column>

				<f:facet name="footer">

					<p:commandButton value="Delete"
						actionListener="#{testService.print}">
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>

				</f:facet>
			</p:dataTable>



		</h:form>
	</ui:define>

</ui:composition>
