<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/generalLoggenIn.xhtml">

	<ui:define name="title">
		<h:outputText value="My Account Home" />
	</ui:define>
	<ui:define name="header">
		<h:outputText value="My Account Home" />
	</ui:define>

	<ui:define name="content">
		<p:outputLabel value="Test name " />
		<p:inputText id="testName"/>
	<p:separator id="separator"/>
	<p:commandButton value="AddQestion"/>
	</ui:define>

</ui:composition>
